*{
    margin:0;
    padding:0;
    box-sizing:border-box ;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a{
    position: relative;
    width: 200px;
    height:200px;
    background-color: #ffffff;
    color:#242424;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 1em;
    border-radius: 15%;
    transition: all .4s;
}
.box a i {
     font-size: 200px;
}

a::hover::before{
    transform:translateY(10px) scaleX(0.6) scaley(0.8);
    filter:blur(10px);
}
a:hover:nth-child(1){
    color:#c32aa3;
    text-shadow: 0 0 px #c32aa3;
}
a:hover:nth-child(2){
    color:#25d366;
    text-shadow: 0 0 30px #25d366;
}
a:hover:nth-child(3){
    color:#1da1f2;
    text-shadow: 0 0 30px #1da1f2;
}
a:hover:nth-child(4){
    color:#7289da;
    text-shadow: 0 0 30px #7289da;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
